AV 1

1.

In [2]:
USE bazi_na_podatoci_auditoriski

In [3]:
-- CREATE domain positive AS NUMERIC CHECK(positive > 0);

CREATE TABLE SNABDUVACI(
    s INT ,
    ime_s varchar(20) NOT NULL UNIQUE,
    saldo NUMERIC(10),
    grad VARCHAR(20) DEFAULT 'Skopje',
    PRIMARY KEY(s),
    CONSTRAINT saldoCons
        CHECK(saldo > 0)
);

CREATE TABLE PROIZVODI(
    proiz INT,
    vid VARCHAR(20),
    ime_p VARCHAR(20) NOT NULL,
    boja VARCHAR(20),
    tezhina NUMERIC(10),
    grad_p VARCHAR(10),
    PRIMARY KEY(proiz, vid),
    CONSTRAINT gradCons
        CHECK(grad_p in ('London', 'Paris', 'Rome'))
);

CREATE TABLE PONUDI(
    p INT,
    s INT,
    pr INT,
    v VARCHAR(20),
    kolicina_nar INT,
    datum_nar DATE,
    kolicina_isp INT,
    datum_isp DATE
    PRIMARY KEY(p),
    FOREIGN KEY(s) REFERENCES SNABDUVACI(s)
        ON DELETE SET NULL
        ON UPDATE CASCADE,
    FOREIGN KEY(pr,v) REFERENCES PROIZVODI(proiz, vid)
        ON DELETE SET NULL
        ON UPDATE CASCADE,
    CONSTRAINT kolichinaCons
        CHECK(kolicina_isp <= kolicina_nar)
);