# Auditoriska vezhba 7

## Zadacha 2.

In [5]:
select e.Name, s.Name as SectorName
from Employee e
    join Sector s on e.SectorId = s.Id
where e.Salary > 10000 and e.Education = 'PhD'

Name,SectorName
Employee C,Sector C
Employee G,Sector G
Employee J,Sector I

In [8]:
select e.Name
from Employee e
    join Sector s on e.SectorId = s.Id
where s.City = 'Skopje'

Name
Employee A
Employee F

In [11]:
select distinct s.Name, e.Education
from Employee e
    join Sector s on e.SectorId = s.Id
order by s.Name

Name,Education
Sector A,Masters
Sector B,Bachelors
Sector C,PhD
Sector D,Masters
Sector E,Bachelors
Sector G,PhD
Sector H,Bachelors
Sector I,Masters
Sector I,PhD

In [12]:
select e.Name
from Employee e
    join Sector s on e.SectorId = s.Id
where s.Id in (4,7)

Name
Employee D
Employee G

In [20]:
select s.Id
from Sector s
    left join Employee e on s.Id = e.SectorId
where e.id is NULL

go

-- OR (this is the same as)======================================

select s.Id
from Sector s

EXCEPT

select s.Id
from Sector s
    join Employee e on s.Id = e.SectorId

Id
6
10

Id
6
10

In [26]:
select e.Id
from Employee e 
    join WorksOn w on e.Id = w.EmployeeId
where e.Education = 'Bachelors'

Id
102
105
108

In [32]:
select avg(e.Salary) as 'Avg. Masters Income'
from Employee e
where e.Education = 'Masters'

Avg. Masters Income
50250

In [37]:
select count(distinct w.Role) as 'num_roles_for_employee_107'
from WorksOn w
where w.EmployeeId = 107

num_roles_for_employee_107
3