# Auditoriska 8

## Zadacha 1

In [3]:
with cte_example as 
(
    select *
    FROM [1_PAYMENT]
)

select *
from cte_example

Cname,AccNum,Amount,Late
Company A,101,200,0
Company B,102,450,1
Company C,103,300,0
Company D,104,500,1
Company E,105,250,0
Company F,106,600,1
Company G,107,350,0
Company H,108,700,1
Company I,109,400,0
Company J,110,800,1
Company K,111,520,0
Company L,112,630,1
Company M,113,740,0
Company N,114,850,1
Company O,115,960,0

In [8]:
select *
into #temp_table_example
from [1_PAYMENT]

GO
select *
from #temp_table_example

Cname,AccNum,Amount,Late
Company A,101,200,0
Company B,102,450,1
Company C,103,300,0
Company D,104,500,1
Company E,105,250,0
Company F,106,600,1
Company G,107,350,0
Company H,108,700,1
Company I,109,400,0
Company J,110,800,1
Company K,111,520,0
Company L,112,630,1
Company M,113,740,0
Company N,114,850,1
Company O,115,960,0

In [9]:
create view view_example as
(
    select *
    from [1_PAYMENT]
)

go

select top 5 *
from view_example

Cname,AccNum,Amount,Late
Company A,101,200,0
Company B,102,450,1
Company C,103,300,0
Company D,104,500,1
Company E,105,250,0

In [4]:
with acc_104 as 
(
SELECT *
from [1_Payment] p
where p.AccNum = 104
)

select *
from acc_104

Cname,AccNum,Amount,Late
Company D,104,500,1

In [11]:
create or alter view company_postal_info AS
(
    select 
        c.Cname, 
         c.Address + ', ' + c.City + ', ' + c.Country as PostalInfo,
         CONCAT(c.Address, ', ' , c.City, ', ', c.Country) as PostalInfoConcat,
         CONCAT_WS(', ', c.Address, c.City, c.Country) as PostalInfoWsConcat
from [1_COMPANY] c)

go

select *
from company_postal_info

Cname,PostalInfo,PostalInfoConcat,PostalInfoWsConcat
Company A,"123 Main St, New York, USA","123 Main St, New York, USA","123 Main St, New York, USA"
Company B,"456 Elm St, London, UK","456 Elm St, London, UK","456 Elm St, London, UK"
Company C,"789 Pine Ave, Toronto, Canada","789 Pine Ave, Toronto, Canada","789 Pine Ave, Toronto, Canada"
Company D,"321 Oak Rd, Sydney, Australia","321 Oak Rd, Sydney, Australia","321 Oak Rd, Sydney, Australia"
Company E,"654 Maple Ln, Dublin, Ireland","654 Maple Ln, Dublin, Ireland","654 Maple Ln, Dublin, Ireland"
Company F,"987 Cedar Blvd, Berlin, Germany","987 Cedar Blvd, Berlin, Germany","987 Cedar Blvd, Berlin, Germany"
Company G,"246 Birch St, Paris, France","246 Birch St, Paris, France","246 Birch St, Paris, France"
Company H,"135 Walnut Dr, Madrid, Spain","135 Walnut Dr, Madrid, Spain","135 Walnut Dr, Madrid, Spain"
Company I,"864 Spruce Ct, Rome, Italy","864 Spruce Ct, Rome, Italy","864 Spruce Ct, Rome, Italy"
Company J,"975 Cherry Pl, Amsterdam, Netherlands","975 Cherry Pl, Amsterdam, Netherlands","975 Cherry Pl, Amsterdam, Netherlands"
Company K,"1122 Cedar Ave, Seoul, South Korea","1122 Cedar Ave, Seoul, South Korea","1122 Cedar Ave, Seoul, South Korea"
Company L,"2233 Oak Street, Beijing, China","2233 Oak Street, Beijing, China","2233 Oak Street, Beijing, China"
Company M,"3344 Birch Road, Cape Town, South Africa","3344 Birch Road, Cape Town, South Africa","3344 Birch Road, Cape Town, South Africa"
Company N,"4455 Elm Lane, Moscow, Russia","4455 Elm Lane, Moscow, Russia","4455 Elm Lane, Moscow, Russia"
Company O,"5566 Pine Path, Mexico City, Mexico","5566 Pine Path, Mexico City, Mexico","5566 Pine Path, Mexico City, Mexico"

In [15]:
with CountryInfo AS

(select c.Country, count(*) as NumPayments, sum(p.Amount) as TotalPayment
from [1_PAYMENT] p
    join [1_COMPANY] c on p.Cname = c.Cname
group by c.Country)

select *
from CountryInfo

Country,NumPayments,TotalPayment
Australia,1,500
Canada,1,300
China,1,630
France,1,350
Germany,1,600
Ireland,1,250
Italy,1,400
Mexico,1,960
Netherlands,1,800
Russia,1,850
South Africa,1,740
South Korea,1,520
Spain,1,700
UK,1,450
USA,1,200

In [16]:
create view ConuntryInfoView AS
(select c.Country, count(*) as NumPayments, sum(p.Amount) as TotalPayment
from [1_PAYMENT] p
    join [1_COMPANY] c on p.Cname = c.Cname
group by c.Country)

go

select *
from ConuntryInfoView

Country,NumPayments,TotalPayment
Australia,1,500
Canada,1,300
China,1,630
France,1,350
Germany,1,600
Ireland,1,250
Italy,1,400
Mexico,1,960
Netherlands,1,800
Russia,1,850
South Africa,1,740
South Korea,1,520
Spain,1,700
UK,1,450
USA,1,200

In [6]:
select f.*
from [2_FactoryProduct] f
    left join [2_StoreProduct] s on f.ModelId = s.ModelId and f.ColorId = s.ColorId and f.SizeId = s.SizeId
where s.Id is NULL

Id,ModelId,SizeId,ColorId,FactoryPrice
2,1,1,2,100
3,1,1,3,150
4,1,2,1,100
5,1,2,2,200
7,1,3,1,150
9,1,3,3,450
10,2,1,1,100
11,2,1,2,200
13,2,2,1,200
15,2,2,3,600
17,2,3,2,600
18,2,3,3,900

In [29]:
with RedColorStats  as 
(select count(f.Id) as TotalRed, count(s.Id) as StoreRed
from [2_FactoryProduct] f
    left join [2_StoreProduct] s on f.ModelId = s.ModelId and f.ColorId = s.ColorId and f.SizeId = s.SizeId
    join [2_Color] c on f.ColorId = c.Id
where c.Name = 'Red')

select r.*, cast(r.StoreRed *1.0 / r.TotalRed  * 100 as decimal(10,2)) as PercentageRedInStore
from RedColorStats r

TotalRed,StoreRed,PercentageRedInStore
6,2,33.33

In [30]:
DELETE from [2_FactoryProduct] 
where ColorId = (
    select c.Id
    from [2_Color] c
    where c.Name = 'Yellow'
)

In [32]:
select *
from [2_FactoryProduct] f
    join [2_Color] c on f.ColorId = c.Id

Id,ModelId,SizeId,ColorId,FactoryPrice,Id,Name
1,1,1,1,50,1,Blue
3,1,1,3,150,3,Red
4,1,2,1,100,1,Blue
6,1,2,3,300,3,Red
7,1,3,1,150,1,Blue
9,1,3,3,450,3,Red
10,2,1,1,100,1,Blue
12,2,1,3,300,3,Red
13,2,2,1,200,1,Blue
15,2,2,3,600,3,Red
16,2,3,1,300,1,Blue
18,2,3,3,900,3,Red

In [37]:
select s.*
from [2_StoreProduct] s
    left join [2_FactoryProduct] f on s.ModelId = f.ModelId and s.ColorId = f.ColorId and s.SizeId = f.SizeId
where f.Id is NULL

Id,ModelId,SizeId,ColorId,RetailPrice,ItemsOnStock
3,1,3,2,600,6
5,2,2,2,800,6

In [44]:
select ModelId, SizeId, ColorId
from [2_FactoryProduct]

union

select ModelId, SizeId, ColorId
from [2_StoreProduct]

ModelId,SizeId,ColorId
1,1,1
1,1,3
1,2,1
1,2,3
1,3,1
1,3,2
1,3,3
2,1,1
2,1,3
2,2,1
2,2,2
2,2,3
2,3,1
2,3,3

In [51]:
select f.FactoryPrice,s.RetailPrice,
case 
    when f.FactoryPrice is null then s.RetailPrice
    when s.RetailPrice is null then f.FactoryPrice
    else s.RetailPrice - f.FactoryPrice
end as 'Difference (Factory if Retail is null and vice versa)'
from [2_FactoryProduct] f
full outer join [2_StoreProduct] s on f.ModelId = s.ModelId and f.ColorId = s.ColorId and f.SizeId = s.SizeId

FactoryPrice,RetailPrice,Difference (Factory if Retail is null and vice versa)
50,100,50
150,NULL,150
100,NULL,100
300,600,300
150,NULL,150
450,NULL,450
100,NULL,100
300,600,300
200,NULL,200
600,NULL,600
300,600,300
900,NULL,900
NULL,600,600
NULL,800,800

In [54]:
select *
from [2_StoreProduct] s
    join [2_Color] c on s.ColorId = c.Id
where c.Name = 'Blue'

go

update [2_StoreProduct]
set ItemsOnStock = ItemsOnStock * 2
where ColorId = (
    select c.Id
    from [2_Color] c
    where c.Name = 'Blue'
)

go

select *
from [2_StoreProduct] s
    join [2_Color] c on s.ColorId = c.Id
where c.Name = 'Blue'


-- OR


-- SELECT *
-- FROM [2_StoreProduct] sp 
-- JOIN [2_Color] c ON sp.ColorId=c.Id
-- where c.Name='Blue';


-- UPDATE [2_StoreProduct]
-- SET ItemsOnStock = ItemsOnStock * 2
-- FROM [2_StoreProduct] sp 
-- JOIN [2_Color] c ON sp.ColorId=c.Id
-- where c.Name='Blue';


-- SELECT *
-- FROM [2_StoreProduct] sp 
-- JOIN [2_Color] c ON sp.ColorId=c.Id
-- where c.Name='Blue';

Id,ModelId,SizeId,ColorId,RetailPrice,ItemsOnStock,Id,Name
1,1,1,1,100,3,1,Blue
6,2,3,1,600,6,1,Blue

Id,ModelId,SizeId,ColorId,RetailPrice,ItemsOnStock,Id,Name
1,1,1,1,100,6,1,Blue
6,2,3,1,600,12,1,Blue

## Zadacha 2

In [65]:
select p.name, p.surname
from [3_PASSENGER] p
where p.passportNo not in (
    select r.passportNo
    from [3_RESERVATION] r
    where r.[date] = '2023-12-25'
    )

go

with target as 
(
select p.passportNo
from [3_PASSENGER] p

EXCEPT

select r.passportNo
from [3_RESERVATION] r
where r.[date] = '2023-12-25'
)

select p.name, p.surname
from [3_PASSENGER] p 
    join target t on p.passportNo = t.passportNo

name,surname
John,Doe
Bob,Brown
Jane,Smith

name,surname
John,Doe
Bob,Brown
Jane,Smith

In [73]:
select p.code as PilotCode, count(c.line_code) as TotalFlights
from [3_PILOT] p
    left join [3_CREW] c on p.code = c.employeeCode
group by p.code

PilotCode,TotalFlights
3,3
4,2
5,0
6,0
7,0

In [84]:
select distinct r.passportNo
from [3_CREW] c
    join [3_PILOT] p on c.employeeCode = p.code
    join [3_RESERVATION] r on c.flightNo = r.flightNo and c.line_code = r.line_code
where p.code = 3

passportNo
P123456789
P321654987
P456789123
P654321987

In [86]:
with passangers_on_flight_with_pilot_3 as 
(select distinct r.passportNo
from [3_CREW] c
    join [3_PILOT] p on c.employeeCode = p.code
    join [3_RESERVATION] r on c.flightNo = r.flightNo and c.line_code = r.line_code
where p.code = 3)

select p.passportNo
from [3_PASSENGER] p
where p.passportNo not in (
    select p3.passportNo
    from passangers_on_flight_with_pilot_3 p3
)

passportNo
P987654321

In [90]:
select distinct r.passportNo
from [3_CREW] c
    join [3_PILOT] p on c.employeeCode = p.code
    join [3_RESERVATION] r on c.flightNo = r.flightNo and c.line_code = r.line_code
where p.code != 3

select *
from [3_CREW] c
    join [3_PILOT] p on c.employeeCode = p.code
    join [3_RESERVATION] r on c.flightNo = r.flightNo and c.line_code = r.line_code

passportNo
P456789123
P987654321

line_code,flightNo,employeeCode,code,passportNo,line_code,flightNo,date
L001,F101,3,3,P123456789,L001,F101,2023-12-01
L005,F105,3,3,P321654987,L005,F105,2023-12-25
L003,F103,4,4,P456789123,L003,F103,2023-12-03
L005,F105,3,3,P456789123,L005,F105,2023-12-25
L004,F104,3,3,P654321987,L004,F104,2023-12-04
L002,F102,4,4,P987654321,L002,F102,2023-12-02