# Auditoriska 9

## Zadacha 1

In [1]:
/*
    This script checks if a database named 'db_dml_advanced' exists:
    - If the database does NOT exist, it creates a new empty database.
    - If the database DOES exist, it deletes all tables within the database by:
        1. Dropping all foreign key constraints to handle dependencies.
        2. Dropping all tables to make the database empty.
*/

-- Check if the database exists
IF (SELECT COUNT(*) FROM sys.databases WHERE name = 'db_dml_advanced') = 0
BEGIN
    -- Create the database if it doesn't exist
    CREATE DATABASE db_dml_advanced;
    PRINT 'Database created: db_dml_advanced';
END
ELSE
BEGIN
    PRINT 'Database already exists: db_dml_advanced';
END

GO
-- Use the database
USE db_dml_advanced;

-- Step 1: Drop all foreign key constraints if any exist
IF EXISTS (SELECT * FROM sys.foreign_keys)
BEGIN
    DECLARE @sql NVARCHAR(MAX);
    SET @sql = '';

    SELECT @sql = @sql + 'ALTER TABLE [' + OBJECT_NAME(parent_object_id) 
                 + '] DROP CONSTRAINT [' + name + '];' + CHAR(13)
    FROM sys.foreign_keys;

    EXEC sp_executesql @sql;
    PRINT 'Foreign keys dropped';
END
ELSE
BEGIN
    PRINT 'No foreign keys to drop';
END

-- Step 2: Drop all tables if any exist
IF EXISTS (SELECT * FROM sys.tables)
BEGIN
    SET @sql = '';

    SELECT @sql = @sql + 'DROP TABLE [' + name + '];' + CHAR(13)
    FROM sys.tables;

    EXEC sp_executesql @sql;
    PRINT 'Tables dropped';
END
ELSE
BEGIN
    PRINT 'No tables to drop';
END

In [2]:
-- Table creation for CLIENT
CREATE TABLE CLIENT (
    clID INT PRIMARY KEY,
    name VARCHAR(30),
    passportNo VARCHAR(255),
    address VARCHAR(50)
);


-- Table creation for ADD_OPT
CREATE TABLE ADD_OPT (
    aoID INT PRIMARY KEY,
    description VARCHAR(255),
    type VARCHAR(10),
    price DECIMAL
);

-- Table creation for PACKAGE
CREATE TABLE PACKAGE (
    packID INT PRIMARY KEY,
    city VARCHAR(50),
    hotel VARCHAR(50)
);

-- Table creation for T_AGENCY
CREATE TABLE T_AGENCY (
    taID INT PRIMARY KEY,
    name VARCHAR(50),
    address VARCHAR(255),
    telephone VARCHAR(15)
);

-- Table creation for VACATION
CREATE TABLE VACATION (
    vacID INT PRIMARY KEY,
    startDate DATE,
    endDate DATE,
    country VARCHAR(20),
    taID INT,
    FOREIGN KEY (taID) REFERENCES T_AGENCY(taID)
);

-- Table creation for EMPLOYEE
CREATE TABLE EMPLOYEE (
    empID INT PRIMARY KEY,
    name VARCHAR(20),
    surname VARCHAR(20),
    birthYear INT,
    education VARCHAR(15),
    taID INT,
    FOREIGN KEY (taID) REFERENCES T_AGENCY(taID)
);

-- Table creation for GUIDE
CREATE TABLE GUIDE (
    empID INT PRIMARY KEY,
    FOREIGN KEY (empID) REFERENCES EMPLOYEE(empID)
);

-- Table creation for TRANSPORT
CREATE TABLE TRANSPORT (
    packID INT,
    transport VARCHAR(40),
    PRIMARY KEY (packID, transport),
    FOREIGN KEY (packID) REFERENCES PACKAGE(packID)
);

-- Table creation for CONTENT
CREATE TABLE CONTENT (
    vacID INT,
    packID INT,
    price DECIMAL,
    PRIMARY KEY (vacID, packID),
    FOREIGN KEY (vacID) REFERENCES VACATION(vacID),
    FOREIGN KEY (packID) REFERENCES PACKAGE(packID)
);

-- Table creation for GUIDANCE
CREATE TABLE GUIDANCE (
    empID INT,
    vacID INT,
    [percent] DECIMAL,
    PRIMARY KEY (empID, vacID),
    FOREIGN KEY (empID) REFERENCES GUIDE(empID),
    FOREIGN KEY (vacID) REFERENCES VACATION(vacID)
);

-- Table creation for F_LANGUAGE
CREATE TABLE F_LANGUAGE (
    empID INT,
    flang VARCHAR(30),
    PRIMARY KEY (empID, flang),
    FOREIGN KEY (empID) REFERENCES EMPLOYEE(empID)
);

-- Table creation for CHOICE
CREATE TABLE CHOICE (
    choiceID INT PRIMARY KEY,
    clID INT,
    aoID INT,
    vacID INT,
    FOREIGN KEY (clID) REFERENCES CLIENT(clID),
    FOREIGN KEY (aoID) REFERENCES ADD_OPT(aoID),
    FOREIGN KEY (vacID) REFERENCES VACATION(vacID)
);

In [3]:
-- Inserting sample records into CLIENT
INSERT INTO CLIENT VALUES (1, 'John Doe', 'AB123456', '123 Main St');


-- Inserting sample records into T_AGENCY
INSERT INTO T_AGENCY VALUES (1, 'TravelCo', '456 Park Ave', '555-1234');
INSERT INTO T_AGENCY VALUES (2, 'TravelTribe', '123 Park Ave', '222-1235');


-- Additional sample records for EMPLOYEE
INSERT INTO EMPLOYEE VALUES (1, 'Alice', 'Smith', 1985, 'Masters', 1);
INSERT INTO EMPLOYEE VALUES (2, 'Bob', 'Johnson', 1980, 'Bachelors', 1);

-- Sample records for GUIDE
INSERT INTO GUIDE VALUES (1);
INSERT INTO GUIDE VALUES (2);




-- Sample records for F_LANGUAGE
INSERT INTO F_LANGUAGE VALUES (1, 'English');
INSERT INTO F_LANGUAGE VALUES (2, 'Spanish');
INSERT INTO F_LANGUAGE VALUES (1, 'French');
INSERT INTO F_LANGUAGE VALUES (2, 'German');



-- Sample records for ADD_OPT
INSERT INTO ADD_OPT VALUES (1, 'Extra luggage', 'Baggage', 50.00);
INSERT INTO ADD_OPT VALUES (2, 'Priority boarding', 'Flight', 30.00);
INSERT INTO ADD_OPT VALUES (3, 'Tour guide', 'Service', 100.00);
INSERT INTO ADD_OPT VALUES (4, 'Travel insurance', 'Insurance', 20.00);

-- Sample records for additional VACATION
INSERT INTO VACATION VALUES (1, '2023-02-10', '2023-02-17', 'Malaysia', 1);
INSERT INTO VACATION VALUES (2, '2023-03-15', '2023-03-22', 'Romania', 1);

-- Sample records for additional PACKAGE
-- Note: Introducing more cities to satisfy certain query conditions
INSERT INTO PACKAGE VALUES (1, 'CityC', 'HotelC');
INSERT INTO PACKAGE VALUES (2, 'CityD', 'HotelD');

-- More records for TRANSPORT
-- Note: These are added to existing records to satisfy query conditions
INSERT INTO TRANSPORT VALUES (1, 'Car');
INSERT INTO TRANSPORT VALUES (2, 'Bicycle');
INSERT INTO TRANSPORT VALUES (2, 'Motorbike');


-- Additional sample records for CONTENT
-- Note: These records correspond to VACATION and PACKAGE
INSERT INTO CONTENT VALUES (1, 1, 200.00);
INSERT INTO CONTENT VALUES (1, 2, 250.00);
INSERT INTO CONTENT VALUES (2, 1, 150.00);
INSERT INTO CONTENT VALUES (2, 2, 300.00);

-- Sample records for CHOICE
-- These records link CLIENT, ADD_OPT, and VACATION
INSERT INTO CHOICE VALUES (1, 1, 1, 1);
INSERT INTO CHOICE VALUES (2, 1, 2, 1);
INSERT INTO CHOICE VALUES (3, 1, 3, 2);
INSERT INTO CHOICE VALUES (4, 1, 4, 2);

-- Sample records for GUIDANCE
-- Assuming 'percent' is the percentage of the total price for a vacation
INSERT INTO GUIDANCE VALUES (1, 1, 10.00);
INSERT INTO GUIDANCE VALUES (2, 1, 15.00);
INSERT INTO GUIDANCE VALUES (1, 2, 12.00);
INSERT INTO GUIDANCE VALUES (2, 2, 18.00);

In [9]:
select v.vacID, sum(c.price) as basic_cost
from VACATION v
    join CONTENT c on v.vacID = c.vacID
where v.country like 'M%a%ia'
group by v.vacID

vacID,basic_cost
1,450

In [14]:
select p.hotel, count(distinct t.transport)
from PACKAGE p
    join TRANSPORT t on p.packID = t.packID
group by p.hotel
having count(distinct t.transport) > 1

hotel,(No column name)
HotelD,2

In [35]:
select *
from VACATION v
where v.vacID in (
    select c.vacID
    from CONTENT c
        join PACKAGE p on c.packID = p.packID
    group by c.vacID
    having count(distinct p.city) > 1
    )

vacID,startDate,endDate,country,taID
1,2023-02-10,2023-02-17,Malaysia,1
2,2023-03-15,2023-03-22,Romania,1

In [43]:

with vac_veh_count as 
(
select c.vacID,count(distinct t.transport) as NumTransports
-- select *
from CONTENT c
    join PACKAGE p on c.packID = p.packID
    join TRANSPORT t on p.packID = t.packID
group by c.vacID
),

vac_veh_max(MaxTransports) as 
(
select max(v1.NumTransports)
from vac_veh_count v1
)

select v.*
from vac_veh_count vv
    join VACATION v on vv.vacID = v.vacID
where vv.NumTransports = (
    select *
    from vac_veh_max
    )

-- OR

-- select v.*
-- from VACATION v
--     join vac_veh_count vv on vv.vacID = v.vacID
--     join vac_veh_max vm on vv.NumTransports = vm.MaxTransports

vacID,startDate,endDate,country,taID
1,2023-02-10,2023-02-17,Malaysia,1
2,2023-03-15,2023-03-22,Romania,1

In [56]:
with
per_guide_profit as
(
    select g.empID, sum( g.[percent] / 100 * c.price) as guide_profit
    -- select *
    from GUIDANCE g
        join CONTENT c on g.vacID = c.vacID
    group by g.empID
),

avg_guide_profit as 
(
select avg(p.guide_profit) as avg_profit
from per_guide_profit p
)

select *
from per_guide_profit p
where p.guide_profit > (
    select *
    from avg_guide_profit
    )

empID,guide_profit
2,148.500000

In [80]:
with 

vac_costs as
(
select c.vacID, sum (c.price) as basic_cost, sum(a.price) as ao_cost, sum (c.price) + sum(a.price) as total_cost
from CONTENT c
    join CHOICE ch on c.vacID = ch.vacID
    join ADD_OPT a on ch.aoID = a.aoID
group by c.vacID
),

vac_in_2023 as 
(
select *
from VACATION v
where 
    v.startDate BETWEEN '2023-01-01' and '2023-12-31' and v.endDate BETWEEN '2023-01-01' and '2023-12-31'
),

per_guide_profit as
(
select g.empID, sum( g.[percent] / 100 * vc.total_cost) as guide_profit
from GUIDANCE g
    join vac_costs vc on g.vacID = vc.vacID
where vc.vacID in (
    select vac.vacID
    from vac_in_2023 vac
)
group by g.empID
),

avg_guide_profit as 
(
select avg(p.guide_profit) as avg_profit
from per_guide_profit p
)

select *
from per_guide_profit p
where p.guide_profit > (
    select *
    from avg_guide_profit
    )

empID,guide_profit
2,364.200000

In [115]:

with 
client_on_vecations as
(
select c.clID,c.vacID
from CHOICE c
    join CONTENT co on c.vacID = co.vacID
group by c.clID, c.vacID
),

basic_costs as
(
select c.clID, c.vacID, sum(co.price) basic_cost
from client_on_vecations c
    join CONTENT co on c.vacID = co.vacID
group by c.clID, c.vacID
),

ad_costs as 
(
select c.clID, c.vacID, sum (a.price) as ad_cost
from CHOICE c
    join ADD_OPT a on c.aoID = a.aoID
group by c.clID, c.vacID
),

client_per_vecation_costs as
(
select bc.*, ad.ad_cost, bc.basic_cost + ad.ad_cost as total_costs
from basic_costs bc
    join ad_costs ad on bc.clID = ad.clID and bc.vacID = ad.vacID
)

select c.clID, sum(c.basic_cost + c.ad_cost) as total_payed
from client_per_vecation_costs c
group by c.clID

clID,total_payed
1,1100