In [1]:
use company_db

In [2]:
-- Drop tables if they already exist
DROP TABLE IF EXISTS DEPENDENT;
DROP TABLE IF EXISTS WORKS_ON;
DROP TABLE IF EXISTS PROJECT;
DROP TABLE IF EXISTS DEPT_LOCATIONS;
DROP TABLE IF EXISTS DEPARTMENT;
DROP TABLE IF EXISTS EMPLOYEE;

-- Create EMPLOYEE table
CREATE TABLE EMPLOYEE (
    Fname VARCHAR(20),
    Minit CHAR(1),
    Lname VARCHAR(20),
    Ssn CHAR(9) PRIMARY KEY,
    Bdate DATE,
    Address VARCHAR(50),
    Sex CHAR(1),
    Salary DECIMAL(10,2),
    Super_ssn CHAR(9),
    Dno INT
);

-- Create DEPARTMENT table
CREATE TABLE DEPARTMENT (
    Dname VARCHAR(20),
    Dnumber INT PRIMARY KEY,
    Mgr_ssn CHAR(9),
    Mgr_start_date DATE
);

-- Create DEPT_LOCATIONS table
CREATE TABLE DEPT_LOCATIONS (
    Dnumber INT,
    Dlocation VARCHAR(20),
    PRIMARY KEY (Dnumber, Dlocation),
    FOREIGN KEY (Dnumber) REFERENCES DEPARTMENT(Dnumber)
);

-- Create PROJECT table
CREATE TABLE PROJECT (
    Pname VARCHAR(20),
    Pnumber INT PRIMARY KEY,
    Plocation VARCHAR(20),
    Dnum INT,
    FOREIGN KEY (Dnum) REFERENCES DEPARTMENT(Dnumber)
);

-- Create WORKS_ON table
CREATE TABLE WORKS_ON (
    Essn CHAR(9),
    Pno INT,
    Hours DECIMAL(5,2),
    PRIMARY KEY (Essn, Pno),
    FOREIGN KEY (Essn) REFERENCES EMPLOYEE(Ssn),
    FOREIGN KEY (Pno) REFERENCES PROJECT(Pnumber)
);

-- Create DEPENDENT table
CREATE TABLE DEPENDENT (
    Essn CHAR(9),
    Dependent_name VARCHAR(20),
    Sex CHAR(1),
    Bdate DATE,
    Relationship VARCHAR(20),
    PRIMARY KEY (Essn, Dependent_name),
    FOREIGN KEY (Essn) REFERENCES EMPLOYEE(Ssn)
);

-- Insert data into EMPLOYEE table
INSERT INTO EMPLOYEE VALUES 
('John', 'B', 'Smith', '123456789', '1965-01-09', '731 Fondren, Houston, TX', 'M', 30000, '333445555', 5),
('Franklin', 'T', 'Wong', '333445555', '1955-12-08', '638 Voss, Houston, TX', 'M', 40000, '888665555', 5),
('Alicia', 'J', 'Zelaya', '999887777', '1968-01-19', '3321 Castle, Spring, TX', 'F', 25000, '987654321', 4),
('Jennifer', 'S', 'Wallace', '987654321', '1941-06-20', '291 Berry, Bellaire, TX', 'F', 43000, '888665555', 4),
('Ramesh', 'K', 'Narayan', '666884444', '1962-09-15', '975 Fire Oak, Humble, TX', 'M', 38000, '333445555', 5),
('Joyce', 'A', 'English', '453453453', '1972-07-31', '5631 Rice, Houston, TX', 'F', 25000, '333445555', 5),
('Ahmad', 'V', 'Jabbar', '987987987', '1969-03-29', '980 Dallas, Houston, TX', 'M', 25000, '987654321', 4),
('James', 'E', 'Borg', '888665555', '1937-11-10', '450 Stone, Houston, TX', 'M', 55000, NULL, 1);

-- Insert data into DEPARTMENT table
INSERT INTO DEPARTMENT VALUES 
('Research', 5, '333445555', '1988-05-22'),
('Administration', 4, '987654321', '1995-01-01'),
('Headquarters', 1, '888665555', '1981-06-19');

-- Insert data into DEPT_LOCATIONS table
INSERT INTO DEPT_LOCATIONS VALUES 
(1, 'Houston'),
(4, 'Stafford'),
(5, 'Bellaire'),
(5, 'Sugarland'),
(5, 'Houston');

-- Insert data into PROJECT table
INSERT INTO PROJECT VALUES 
('ProductX', 1, 'Bellaire', 5),
('ProductY', 2, 'Sugarland', 5),
('ProductZ', 3, 'Houston', 5),
('Computerization', 10, 'Stafford', 4),
('Reorganization', 20, 'Houston', 1),
('Newbenefits', 30, 'Stafford', 4);

-- Insert data into WORKS_ON table
INSERT INTO WORKS_ON VALUES 
('123456789', 1, 32.5),
('123456789', 2, 7.5),
('666884444', 3, 40.0),
('453453453', 1, 20.0),
('453453453', 2, 20.0),
('333445555', 2, 10.0),
('333445555', 3, 10.0),
('333445555', 10, 10.0),
('999887777', 30, 30.0),
('999887777', 10, 10.0),
('987987987', 10, 35.0),
('987987987', 30, 5.0),
('987654321', 20, 15.0),
('888665555', 20, NULL);

-- Insert data into DEPENDENT table
INSERT INTO DEPENDENT VALUES 
('333445555', 'Alice', 'F', '1986-04-05', 'Daughter'),
('333445555', 'Theodore', 'M', '1983-10-25', 'Son'),
('333445555', 'Joy', 'F', '1958-05-03', 'Spouse'),
('987654321', 'Abner', 'M', '1942-02-28', 'Spouse'),
('123456789', 'Michael', 'M', '1988-01-04', 'Son'),
('123456789', 'Alice', 'F', '1988-12-30', 'Daughter'),
('123456789', 'Elizabeth', 'F', '1967-05-05', 'Spouse');

-- Verify data
SELECT * FROM EMPLOYEE;
SELECT * FROM DEPARTMENT;
SELECT * FROM DEPT_LOCATIONS;
SELECT * FROM PROJECT;
SELECT * FROM WORKS_ON;
SELECT * FROM DEPENDENT;

Fname,Minit,Lname,Ssn,Bdate,Address,Sex,Salary,Super_ssn,Dno
John,B,Smith,123456789,1965-01-09,"731 Fondren, Houston, TX",M,30000.00,333445555,5
Franklin,T,Wong,333445555,1955-12-08,"638 Voss, Houston, TX",M,40000.00,888665555,5
Joyce,A,English,453453453,1972-07-31,"5631 Rice, Houston, TX",F,25000.00,333445555,5
Ramesh,K,Narayan,666884444,1962-09-15,"975 Fire Oak, Humble, TX",M,38000.00,333445555,5
James,E,Borg,888665555,1937-11-10,"450 Stone, Houston, TX",M,55000.00,NULL,1
Jennifer,S,Wallace,987654321,1941-06-20,"291 Berry, Bellaire, TX",F,43000.00,888665555,4
Ahmad,V,Jabbar,987987987,1969-03-29,"980 Dallas, Houston, TX",M,25000.00,987654321,4
Alicia,J,Zelaya,999887777,1968-01-19,"3321 Castle, Spring, TX",F,25000.00,987654321,4

Dname,Dnumber,Mgr_ssn,Mgr_start_date
Headquarters,1,888665555,1981-06-19
Administration,4,987654321,1995-01-01
Research,5,333445555,1988-05-22

Dnumber,Dlocation
1,Houston
4,Stafford
5,Bellaire
5,Houston
5,Sugarland

Pname,Pnumber,Plocation,Dnum
ProductX,1,Bellaire,5
ProductY,2,Sugarland,5
ProductZ,3,Houston,5
Computerization,10,Stafford,4
Reorganization,20,Houston,1
Newbenefits,30,Stafford,4

Essn,Pno,Hours
123456789,1,32.50
123456789,2,7.50
333445555,2,10.00
333445555,3,10.00
333445555,10,10.00
453453453,1,20.00
453453453,2,20.00
666884444,3,40.00
888665555,20,NULL
987654321,20,15.00
987987987,10,35.00
987987987,30,5.00
999887777,10,10.00
999887777,30,30.00

Essn,Dependent_name,Sex,Bdate,Relationship
123456789,Alice,F,1988-12-30,Daughter
123456789,Elizabeth,F,1967-05-05,Spouse
123456789,Michael,M,1988-01-04,Son
333445555,Alice,F,1986-04-05,Daughter
333445555,Joy,F,1958-05-03,Spouse
333445555,Theodore,M,1983-10-25,Son
987654321,Abner,M,1942-02-28,Spouse