# **Predavanje 8 i 9**

## Voved vo SQL (DML)

In [3]:
USE company_db

In [5]:
SELECT e.Bdate, e.Address
FROM EMPLOYEE e
WHERE e.Fname = 'John' and e.Minit = 'B' and e.Lname = 'Smith'

Bdate,Address
1965-01-09,"731 Fondren, Houston, TX"

In [23]:
select e.fname, e.lname
from Employee e
where e.Address like '% Houston, TX'

fname,lname
John,Smith
Franklin,Wong
Joyce,English
James,Borg
Ahmad,Jabbar

In [26]:
select e.Fname, e.Lname
from Employee e
where e.Bdate > '1950' and e.Bdate < '1960'

Fname,Lname
Franklin,Wong

In [30]:
select e.Fname, e.Lname, e.Salary ,e.Salary * 1.1 as 'Increased Salary'
from Employee e
where e.Fname = 'John' and e.Minit = 'B' and e.Lname = 'Smith'

Fname,Lname,Salary,Increased Salary
John,Smith,30000.00,33000.000

In [34]:
select e.Fname, e.Lname, e.Address
from Employee e join Department d on e.Dno = d.Dnumber
where d.Dname = 'Research'

Fname,Lname,Address
John,Smith,"731 Fondren, Houston, TX"
Franklin,Wong,"638 Voss, Houston, TX"
Joyce,English,"5631 Rice, Houston, TX"
Ramesh,Narayan,"975 Fire Oak, Humble, TX"

In [12]:
select p.PNumber, p.Dnum, e.LName, e.Address, e.Bdate
from PROJECT p join DEPARTMENT d on p.Dnum = d.Dnumber join EMPLOYEE e on d.Mgr_ssn = e.Ssn
where p.Plocation = 'Stafford'

PNumber,Dnum,LName,Address,Bdate
10,4,Wallace,"291 Berry, Bellaire, TX",1941-06-20
30,4,Wallace,"291 Berry, Bellaire, TX",1941-06-20

In [22]:
select e1.Fname as employee_name, e1.Lname as employee_lastname, e2.Fname as manager_name, e2.Lname as manager_lastname
from EMPLOYEE e1 join EMPLOYEE e2 on e1.Ssn = e2.Super_ssn

employee_name,employee_lastname,manager_name,manager_lastname
Franklin,Wong,John,Smith
James,Borg,Franklin,Wong
Franklin,Wong,Joyce,English
Franklin,Wong,Ramesh,Narayan
James,Borg,Jennifer,Wallace
Jennifer,Wallace,Ahmad,Jabbar
Jennifer,Wallace,Alicia,Zelaya

In [25]:
select distinct e.Ssn
from EMPLOYEE e

Ssn
123456789
333445555
453453453
666884444
888665555
987654321
987987987
999887777

In [26]:
select distinct e.Salary
from EMPLOYEE e

Salary
25000.00
30000.00
38000.00
40000.00
43000.00
55000.00

In [36]:
select p.Pname 
from WORKS_ON w join PROJECT p on w.Pno = p.Pnumber join EMPLOYEE e on w.Essn  = e.Ssn
where e.Lname = 'Smith'

Pname
ProductX
ProductY

In [46]:
select p.Pname
from PROJECT p join DEPARTMENT d on p.Dnum = d.Dnumber join EMPLOYEE e on d.Mgr_ssn = e.Ssn
where e.Lname = 'Smith'

In [45]:
(select p.Pname 
from WORKS_ON w join PROJECT p on w.Pno = p.Pnumber join EMPLOYEE e on w.Essn  = e.Ssn
where e.Lname = 'Smith')
UNION
(select p.Pname
from PROJECT p join DEPARTMENT d on p.Dnum = d.Dnumber join EMPLOYEE e on d.Mgr_ssn = e.Ssn
where e.Lname = 'Smith')

Pname
ProductX
ProductY

In [52]:
select distinct e.Ssn
from EMPLOYEE e join WORKS_ON w on e.Ssn = w.Essn
where w.Pno in (1,2,3)

Ssn
123456789
333445555
453453453
666884444

In [56]:
select e.Fname, e.Lname
from EMPLOYEE e
where e.Dno = (
    select distinct d.Dnumber
    from DEPARTMENT d
    where d.Dname = 'Research'
)

Fname,Lname
John,Smith
Franklin,Wong
Joyce,English
Ramesh,Narayan

In [65]:
select e.Fname, e.Lname
from EMPLOYEE e
where e.Ssn in (
    select d.Essn
    from DEPENDENT d
    where e.Fname = d.Dependent_name and e.Ssn = d.Essn
)

In [69]:
select e.Fname, e.Lname
from EMPLOYEE e join DEPENDENT d on e.Ssn = d.Essn
where e.Fname = d.Dependent_name

In [70]:
select e.Fname, e.Lname
from EMPLOYEE e join DEPENDENT d on e.Ssn = d.Essn
where EXISTS (
    select *
    from DEPENDENT d
    where e.Fname = d.Dependent_name and e.Ssn = d.Essn)

In [86]:
select e.Fname, e.Lname
from EMPLOYEE e left join DEPENDENT d on e.Ssn = d.Essn
where not exists (
    select *
    from Dependent d
    where e.Ssn = d.Essn
)

Fname,Lname
Joyce,English
Ramesh,Narayan
James,Borg
Ahmad,Jabbar
Alicia,Zelaya

In [80]:
select e.Fname, e.Lname
from EMPLOYEE e left join DEPENDENT d on e.Ssn = d.Essn
where d.Essn is null

Fname,Lname
Joyce,English
Ramesh,Narayan
James,Borg
Ahmad,Jabbar
Alicia,Zelaya

In [87]:
select e.Fname
from EMPLOYEE e
where e.Super_ssn is null

Fname
James

In [89]:
select  e1.Fname as employee_name, e1.Lname as employee_lastname, e2.Fname as manager_name, e2.Lname as manager_lastname
from EMPLOYEE e1 left join EMPLOYEE e2 on e1.Ssn = e2.Super_ssn

employee_name,employee_lastname,manager_name,manager_lastname
John,Smith,NULL,NULL
Franklin,Wong,John,Smith
Franklin,Wong,Joyce,English
Franklin,Wong,Ramesh,Narayan
Joyce,English,NULL,NULL
Ramesh,Narayan,NULL,NULL
James,Borg,Franklin,Wong
James,Borg,Jennifer,Wallace
Jennifer,Wallace,Ahmad,Jabbar
Jennifer,Wallace,Alicia,Zelaya
Ahmad,Jabbar,NULL,NULL
Alicia,Zelaya,NULL,NULL

In [91]:
select min(e.Salary) as min_salary, max(e.Salary) as max_salary, avg(e.Salary) as average_salary
from EMPLOYEE e

min_salary,max_salary,average_salary
25000.00,55000.00,35125.000000

In [96]:
select min(e.Salary) as min_salary_rsrch, max(e.Salary) as max_salary_rsrch, avg(e.Salary) as average_salary_rsrch
from EMPLOYEE e join DEPARTMENT d on e.Dno = d.Dnumber
where d.Dname = 'Research'

min_salary_rsrch,max_salary_rsrch,average_salary_rsrch
25000.00,40000.00,33250.000000

In [98]:
select count(*) as employee_count
from EMPLOYEE e

employee_count
8

In [99]:
select count(*) as employee_count_rsrch
from EMPLOYEE e join DEPARTMENT d on e.Dno = d.Dnumber
where d.Dname = 'Research'

employee_count_rsrch
4

In [103]:
select count(distinct e.Salary) as employee_salaries_count
from EMPLOYEE e

employee_salaries_count
6

In [118]:
select d.Dnumber, count(*) as employee_count, avg(e.Salary) as employee_avg_salary
-- select *
from DEPARTMENT d join EMPLOYEE e on d.Dnumber = e.Dno
group by d.Dnumber

Dnumber,employee_count,employee_avg_salary
1,1,55000.000000
4,3,31000.000000
5,4,33250.000000

In [129]:
select p.Pnumber, p.Pname, count(*) as employee_count
from WORKS_ON w join PROJECT p on w.Pno = p.Pnumber
group by p.Pnumber, p.Pname

Pnumber,Pname,employee_count
1,ProductX,2
2,ProductY,3
3,ProductZ,2
10,Computerization,3
20,Reorganization,2
30,Newbenefits,2

In [131]:
select p.Pnumber, p.Pname, count(*) as employee_count
from WORKS_ON w join PROJECT p on w.Pno = p.Pnumber
group by p.Pnumber, p.Pname
having count(*) > 2

Pnumber,Pname,employee_count
2,ProductY,3
10,Computerization,3

In [146]:
select e.Dno,e.Fname,e.Lname, p.Pname
from EMPLOYEE e join WORKS_ON w on e.Ssn = w.Essn join PROJECT p on w.Pno = p.Pnumber
order by e.Dno, e.Lname
-- order by e.Dno desc, e.Lname desc

Dno,Fname,Lname,Pname
1,James,Borg,Reorganization
4,Ahmad,Jabbar,Computerization
4,Ahmad,Jabbar,Newbenefits
4,Jennifer,Wallace,Reorganization
4,Alicia,Zelaya,Computerization
4,Alicia,Zelaya,Newbenefits
5,Joyce,English,ProductX
5,Joyce,English,ProductY
5,Ramesh,Narayan,ProductZ
5,John,Smith,ProductX
5,John,Smith,ProductY
5,Franklin,Wong,ProductY
5,Franklin,Wong,ProductZ
5,Franklin,Wong,Computerization

## Azhuriranje na bazata na podatoci

In [147]:
insert into EMPLOYEE values 
('Richard','K','Marini',
'653298653', '30-DEC-52',
'98 Oak Forest,Katy,TX',
'M', 37000,'987654321', 4)

In [149]:
select *
from EMPLOYEE

Fname,Minit,Lname,Ssn,Bdate,Address,Sex,Salary,Super_ssn,Dno
John,B,Smith,123456789,1965-01-09,"731 Fondren, Houston, TX",M,30000.00,333445555,5
Franklin,T,Wong,333445555,1955-12-08,"638 Voss, Houston, TX",M,40000.00,888665555,5
Joyce,A,English,453453453,1972-07-31,"5631 Rice, Houston, TX",F,25000.00,333445555,5
Richard,K,Marini,653298653,1952-12-30,"98 Oak Forest,Katy,TX",M,37000.00,987654321,4
Ramesh,K,Narayan,666884444,1962-09-15,"975 Fire Oak, Humble, TX",M,38000.00,333445555,5
James,E,Borg,888665555,1937-11-10,"450 Stone, Houston, TX",M,55000.00,NULL,1
Jennifer,S,Wallace,987654321,1941-06-20,"291 Berry, Bellaire, TX",F,43000.00,888665555,4
Ahmad,V,Jabbar,987987987,1969-03-29,"980 Dallas, Houston, TX",M,25000.00,987654321,4
Alicia,J,Zelaya,999887777,1968-01-19,"3321 Castle, Spring, TX",F,25000.00,987654321,4

In [148]:
insert into EMPLOYEE (Fname, LName, Ssn) VALUES
 ('Richard', 'Marini', '653298653')

: Msg 2627, Level 14, State 1, Line 1
Violation of PRIMARY KEY constraint 'PK__EMPLOYEE__CA33E0E5CC0C1E9E'. Cannot insert duplicate key in object 'dbo.EMPLOYEE'. The duplicate key value is (653298653).

In [152]:
select d.Dname, count(*) as employee_count, sum(e.Salary) as salary_sum
from DEPARTMENT d join EMPLOYEE e on d.Dnumber = e.Dno
group by d.Dnumber, d.Dname

Dname,employee_count,salary_sum
Headquarters,1,55000.00
Administration,4,130000.00
Research,4,133000.00

In [157]:
CREATE TABLE DEPTS_INFOS(
    Dname VARCHAR(20),
    EmployeeCount INT,
    SalarySum NUMERIC
);

insert into DEPTS_INFOS(Dname,EmployeeCount,SalarySum) (
    select d.Dname, count(*) as employee_count, sum(e.Salary) as salary_sum
    from DEPARTMENT d join EMPLOYEE e on d.Dnumber = e.Dno
    group by d.Dnumber, d.Dname
);

In [164]:
select *
from DEPTS_INFOS

Dname,EmployeeCount,SalarySum
Headquarters,1,55000
Administration,4,130000
Research,4,133000

In [165]:
delete from DEPTS_INFOS 
where Dname = 'Headquarters'
-- where is not manditory

In [166]:
select *
from DEPTS_INFOS

Dname,EmployeeCount,SalarySum
Administration,4,130000
Research,4,133000

In [168]:
update DEPTS_INFOS set Dname='Admin',EmployeeCount = 10,SalarySum = 0
where Dname = 'Administration'

In [169]:
select *
from DEPTS_INFOS

Dname,EmployeeCount,SalarySum
Admin,10,0
Research,4,133000

In [170]:
update DEPTS_INFOS set SalarySum = SalarySum * 1.1
where Dname = 'Research'

In [171]:
select *
from DEPTS_INFOS

Dname,EmployeeCount,SalarySum
Admin,10,0
Research,4,146300

In [172]:
DROP TABLE DEPTS_INFOS

In [174]:
delete from EMPLOYEE
where Fname = 'Richard' and Lname = 'Marini'

## Napreden SQL i tehniki na programiranje na BP

### Views (Pogledi)

In [181]:
create view WORKS_ON_NEW (Fname,Surname, ProjectName, HoursSpent) as
select e.Fname,e.Lname,p.Pname,w.Hours
from WORKS_ON w join EMPLOYEE e on w.Essn = e.Ssn join PROJECT p on w.Pno = p.Pnumber

In [190]:
select *
from WORKS_ON_NEW

Fname,Surname,ProjectName,HoursSpent
John,Smith,ProductX,32.50
John,Smith,ProductY,7.50
Franklin,Wong,ProductY,10.00
Franklin,Wong,ProductZ,10.00
Franklin,Wong,Computerization,10.00
Joyce,English,ProductX,20.00
Joyce,English,ProductY,20.00
Ramesh,Narayan,ProductZ,40.00
James,Borg,Reorganization,NULL
Jennifer,Wallace,Reorganization,15.00
Ahmad,Jabbar,Computerization,35.00
Ahmad,Jabbar,Newbenefits,5.00
Alicia,Zelaya,Computerization,10.00
Alicia,Zelaya,Newbenefits,30.00

In [191]:
UPDATE WORKS_ON set [Hours] = 200
where Pno = 1 and Essn = '123456789'

In [192]:
select *
from WORKS_ON_NEW

Fname,Surname,ProjectName,HoursSpent
John,Smith,ProductX,200.00
John,Smith,ProductY,7.50
Franklin,Wong,ProductY,10.00
Franklin,Wong,ProductZ,10.00
Franklin,Wong,Computerization,10.00
Joyce,English,ProductX,20.00
Joyce,English,ProductY,20.00
Ramesh,Narayan,ProductZ,40.00
James,Borg,Reorganization,NULL
Jennifer,Wallace,Reorganization,15.00
Ahmad,Jabbar,Computerization,35.00
Ahmad,Jabbar,Newbenefits,5.00
Alicia,Zelaya,Computerization,10.00
Alicia,Zelaya,Newbenefits,30.00

In [193]:
UPDATE WORKS_ON set [Hours] = 32.50
where Pno = 1 and Essn = '123456789'

In [195]:
UPDATE WORKS_ON_NEW set ProjectName = 'ProjectABC'
where Fname = 'John' and Surname= 'Smith' and ProjectName = 'ProductX'

In [196]:
select *
from WORKS_ON_NEW

Fname,Surname,ProjectName,HoursSpent
John,Smith,ProjectABC,32.50
John,Smith,ProductY,7.50
Franklin,Wong,ProductY,10.00
Franklin,Wong,ProductZ,10.00
Franklin,Wong,Computerization,10.00
Joyce,English,ProjectABC,20.00
Joyce,English,ProductY,20.00
Ramesh,Narayan,ProductZ,40.00
James,Borg,Reorganization,NULL
Jennifer,Wallace,Reorganization,15.00
Ahmad,Jabbar,Computerization,35.00
Ahmad,Jabbar,Newbenefits,5.00
Alicia,Zelaya,Computerization,10.00
Alicia,Zelaya,Newbenefits,30.00

In [198]:
select *
from project

Pname,Pnumber,Plocation,Dnum
ProjectABC,1,Bellaire,5
ProductY,2,Sugarland,5
ProductZ,3,Houston,5
Computerization,10,Stafford,4
Reorganization,20,Houston,1
Newbenefits,30,Stafford,4

In [199]:
UPDATE WORKS_ON_NEW set ProjectName = 'ProductX'
where Fname = 'John' and Surname= 'Smith' and ProjectName = 'ProjectABC'

In [200]:
select *
from project

Pname,Pnumber,Plocation,Dnum
ProductX,1,Bellaire,5
ProductY,2,Sugarland,5
ProductZ,3,Houston,5
Computerization,10,Stafford,4
Reorganization,20,Houston,1
Newbenefits,30,Stafford,4

In [204]:
create view DEPT_IFNO(DepName,CountEmplyees,SumSalary) as 
select d.Dname, count(*), sum(e.Salary)
from DEPARTMENT d join EMPLOYEE e on d.Dnumber = e.Dno
group by d.Dname

In [205]:
select *
from DEPT_IFNO

DepName,CountEmplyees,SumSalary
Administration,3,93000.00
Headquarters,1,55000.00
Research,4,133000.00

In [206]:
update DEPT_IFNO set SumSalary=100000
where DepName = 'Research'

: Msg 4406, Level 16, State 1, Line 1
Update or insert of view or function 'DEPT_IFNO' failed because it contains a derived or constant field.